// iPhone 8
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 10%);
$device-silver-panel: #fff;
$device-gold: #f7e8dd;
$device-gold-dark: darken($device-gold, 20%);
$device-gold-panel: #fff;
$device-spacegray: #9b9ba0;
$device-spacegray-dark: darken($device-spacegray, 15%);
$device-spacegray-panel: #222;

$baseY: 871px;
$baseX: 419px;

$device-multi-y: $baseY / $baseX;
$device-size-x: 275px;
$device-size-y: ($device-size-x * $device-multi-y);

$padding-screen-y: new-size(102px, $baseY, $device-size-y);
$padding-screen-x: new-size(22px, $baseX, $device-size-x);

.device-iphone-8 {
	height: $device-size-y;
	width: $device-size-x;

	.device-frame {
		background: $device-silver-panel;
		border-radius: new-size(68px, $baseY, $device-size-y);
		box-shadow: inset 0 0 0 2px $device-silver-dark,
			inset 0 0 0 7px $device-silver;
		height: 100%;
		padding: $padding-screen-y $padding-screen-x;
		width: 100%;
	}

	// 1334-by-750-pixel resolution
	.device-content {
		border: 2px solid #222;
		border-radius: 4px;
		height: ($device-size-y - ($padding-screen-y * 2));
		width: ($device-size-x - ($padding-screen-x * 2));

		div.overlay {
			> div.overlay-item {
				font-size: new-size(20px, $baseY, $device-size-y);
				line-height: new-size(42px, $baseY, $device-size-y);

				&:before {
					top: 3px;
					right: -10px;
					bottom: 3px;
					left: -5px;
				}

				&[class*='spam'] {
					&:after {
						top: 0;
						right: -5px;
						bottom: 0;
						left: -5px;
					}
				}
			}
		}

		.slick-dots {
			bottom: -(new-size(160px, $baseY, $device-size-y));
		}
	}

	.device-stripe {
		&::after,
		&::before {
			border: solid rgba(#333, 0.15);
			border-width: 0 7px;
			content: '';
			height: 6px;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 9;
		}
		&::after {
			top: 68px;
		}
		&::before {
			bottom: 68px;
		}
	}

	// Home button
	.device-header {
		border: 2px solid $device-silver-dark;
		border-radius: 50%;
		bottom: new-size(25px, $baseY, $device-size-y);
		height: new-size(58px, $baseY, $device-size-y);
		left: 50%;
		margin-left: -(new-size(29px, $baseY, $device-size-y));
		position: absolute;
		width: new-size(58px, $baseY, $device-size-y);
	}

	.device-sensors {
		background: #666;
		border-radius: 3px;
		height: new-size(6px, $baseY, $device-size-y);
		left: 50%;
		margin-left: -(new-size(38px, $baseY, $device-size-y));
		position: absolute;
		top: new-size(52px, $baseY, $device-size-y);
		width: new-size(76px, $baseY, $device-size-y);

		&::after,
		&::before {
			background: #666;
			border-radius: 50%;
			content: '';
			position: absolute;
		}
		&::after {
			height: new-size(10px, $baseY, $device-size-y);
			left: 50%;
			margin-left: -(new-size(5px, $baseY, $device-size-y));
			top: -(new-size(25px, $baseY, $device-size-y));
			width: new-size(10px, $baseY, $device-size-y);
		}
		&::before {
			height: new-size(12px, $baseY, $device-size-y);
			left: -(new-size(42px, $baseY, $device-size-y));
			margin-top: -(new-size(6px, $baseY, $device-size-y));
			top: 50%;
			width: new-size(12px, $baseY, $device-size-y);
		}
	}

	.device-btns {
		background: $device-silver-dark;
		height: new-size(30px, $baseY, $device-size-y);
		left: -new-size(3px, $baseY, $device-size-y);
		position: absolute;
		top: new-size(102px, $baseY, $device-size-y);
		width: new-size(3px, $baseY, $device-size-y);

		&::after,
		&::before {
			background: $device-silver-dark;
			content: '';
			height: new-size(56px, $baseY, $device-size-y);
			left: 0;
			position: absolute;
			width: new-size(3px, $baseY, $device-size-y);
		}

		&::after {
			top: new-size(62px, $baseY, $device-size-y);
		}
		&::before {
			top: new-size(132px, $baseY, $device-size-y);
		}
	}

	.device-power {
		background: $device-silver-dark;
		height: new-size(80px, $baseY, $device-size-y);
		right: -new-size(2px, $baseY, $device-size-y);
		position: absolute;
		top: new-size(160px, $baseY, $device-size-y);
		width: new-size(3px, $baseY, $device-size-y);
	}

	// Gold edition
	&.device-gold {
		.device-frame {
			box-shadow: inset 0 0 0 2px $device-gold-dark,
				inset 0 0 0 7px $device-gold;
		}

		.device-header {
			border-color: $device-gold-dark;
		}

		.device-btns {
			&,
			&::after,
			&::before {
				background: $device-gold-dark;
			}
		}

		.device-power {
			background: $device-gold-dark;
		}
	}

	// Space Gray edition
	&.device-spacegray {
		.device-frame {
			background: $device-spacegray-panel;
			box-shadow: inset 0 0 0 2px $device-spacegray-dark,
				inset 0 0 0 7px $device-spacegray;
		}

		.device-stripe {
			&::after,
			&::before {
				border-color: rgba(#ccc, 0.35);
			}
		}

		.device-btns {
			&,
			&::after,
			&::before {
				background: $device-spacegray-dark;
			}
		}
	}
}
