// iPhone 8
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 10%);
$device-silver-panel: #fff;
$device-gold: #f7e8dd;
$device-gold-dark: darken($device-gold, 20%);
$device-gold-panel: #fff;
$device-spacegray: #9b9ba0;
$device-spacegray-dark: darken($device-spacegray, 15%);
$device-spacegray-panel: #222;

$baseY: 871px;
$baseX: 419px;

$device-multi-y: $baseY / $baseX;
$device-size-x: 275px;
$device-size-y: ($device-size-x * $device-multi-y);

@function calc-size($px) {
	@return new-size($px, $baseY, $device-size-y);
}

$padding-screen-y: calc-size(102px);
$padding-screen-x: calc-size(22px);

.device-iphone-8 {
	height: $device-size-y;
	width: $device-size-x;

	.device-frame {
		background: $device-silver-panel;
		border-radius: calc-size(68px);
		box-shadow: inset 0 0 0 2px $device-silver-dark, inset 0 0 0 7px $device-silver;
		height: 100%;
		padding: $padding-screen-y $padding-screen-x;
		width: 100%;
	}

	// 1334-by-750-pixel resolution
	.device-content {
		border: 2px solid #222;
		border-radius: 4px;
		height: ($device-size-y - ($padding-screen-y * 2));
		width: ($device-size-x - ($padding-screen-x * 2));

		div.overlay {
			> div.overlay-item {
				font-size: calc-size(20px);
				line-height: calc-size(42px);

				&:before {
					top: 3px;
					right: -10px;
					bottom: 3px;
					left: -5px;
				}
			}
		}

		.slick-dots {
			bottom: calc-size(-160px);
		}
	}

	.device-stripe {
		&::after,
		&::before {
			border: solid rgba(#333, 0.15);
			border-width: 0 7px;
			content: "";
			height: 6px;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 9;
		}
		&::after {
			top: 68px;
		}
		&::before {
			bottom: 68px;
		}
	}

	// Home button
	.device-header {
		border: 2px solid $device-silver-dark;
		border-radius: 50%;
		bottom: calc-size(25px);
		height: calc-size(58px);
		left: 50%;
		margin-left: calc-size(-29px);
		position: absolute;
		width: calc-size(58px);
	}

	.device-sensors {
		background: #666;
		border-radius: 3px;
		height: calc-size(6px);
		left: 50%;
		margin-left: calc-size(-38px);
		position: absolute;
		top: calc-size(52px);
		width: calc-size(76px);

		&::after,
		&::before {
			background: #666;
			border-radius: 50%;
			content: "";
			position: absolute;
		}
		&::after {
			height: calc-size(10px);
			left: 50%;
			margin-left: calc-size(-5px);
			top: calc-size(-25px);
			width: calc-size(10px);
		}
		&::before {
			height: calc-size(12px);
			left: calc-size(-42px);
			margin-top: calc-size(-6px);
			top: 50%;
			width: calc-size(12px);
		}
	}

	.device-btns {
		background: $device-silver-dark;
		height: calc-size(30px);
		left: -calc-size(3px);
		position: absolute;
		top: calc-size(102px);
		width: calc-size(3px);

		&::after,
		&::before {
			background: $device-silver-dark;
			content: "";
			height: calc-size(56px);
			left: 0;
			position: absolute;
			width: calc-size(3px);
		}

		&::after {
			top: calc-size(62px);
		}
		&::before {
			top: calc-size(132px);
		}
	}

	.device-power {
		background: $device-silver-dark;
		height: calc-size(80px);
		right: -calc-size(2px);
		position: absolute;
		top: calc-size(160px);
		width: calc-size(3px);
	}

	// Gold edition
	&.device-gold {
		.device-frame {
			box-shadow: inset 0 0 0 2px $device-gold-dark, inset 0 0 0 7px $device-gold;
		}

		.device-header {
			border-color: $device-gold-dark;
		}

		.device-btns {
			&,
			&::after,
			&::before {
				background: $device-gold-dark;
			}
		}

		.device-power {
			background: $device-gold-dark;
		}
	}

	// Space Gray edition
	&.device-spacegray {
		.device-frame {
			background: $device-spacegray-panel;
			box-shadow: inset 0 0 0 2px $device-spacegray-dark, inset 0 0 0 7px $device-spacegray;
		}

		.device-stripe {
			&::after,
			&::before {
				border-color: rgba(#ccc, 0.35);
			}
		}

		.device-btns {
			&,
			&::after,
			&::before {
				background: $device-spacegray-dark;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	$device-size-x: 419px;
	$device-size-y: ($device-size-x * $device-multi-y);

	@function calc-size($px) {
		@return new-size($px, $baseY, $device-size-y);
	}
	
	$padding-screen-y: calc-size(102px);
	$padding-screen-x: calc-size(22px);

	.device-iphone-8 {
		height: $device-size-y;
		width: $device-size-x;

		.device-frame {
			border-radius: calc-size(68px);
			padding: $padding-screen-y $padding-screen-x;
		}

		// 1334-by-750-pixel resolution
		.device-content {
			height: ($device-size-y - ($padding-screen-y * 2));
			width: ($device-size-x - ($padding-screen-x * 2));

			div.overlay {
				> div.overlay-item {
					font-size: calc-size(20px);
					line-height: calc-size(42px);
				}
			}

			.slick-dots {
				bottom: calc-size(-160px);
			}
		}

		// Home button
		.device-header {
			bottom: calc-size(25px);
			height: calc-size(58px);
			margin-left: calc-size(-29px);
			width: calc-size(58px);
		}

		.device-sensors {
			height: calc-size(6px);
			margin-left: calc-size(-38px);
			top: calc-size(52px);
			width: calc-size(76px);

			&::after {
				height: calc-size(10px);
				margin-left: calc-size(-5px);
				top: calc-size(-25px);
				width: calc-size(10px);
			}
			&::before {
				height: calc-size(12px);
				left: calc-size(-42px);
				margin-top: calc-size(-6px);
				width: calc-size(12px);
			}
		}

		.device-btns {
			height: calc-size(30px);
			left: calc-size(-3px);
			top: calc-size(102px);
			width: calc-size(3px);

			&::after,
			&::before {
				height: calc-size(56px);
				width: calc-size(3px);
			}

			&::after {
				top: calc-size(62px);
			}
			&::before {
				top: calc-size(132px);
			}
		}

		.device-power {
			height: calc-size(80px);
			right: calc-size(-2px);
			top: calc-size(160px);
			width: calc-size(3px);
		}
	}
}
