// Reset
.device,
.device * {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
		display: block;
	}
}

.device {
	display: inline-block;
	position: relative;
	transform: scale(1);
	z-index: 1;

	.device-frame {
		z-index: 1;
	}

	.device-content {
		background-color: #fff;
		background-position: center center;
		background-size: cover;
		object-fit: cover;
		position: relative;

		.device-actual-content {
			position: relative;

			.step {
				position: absolute;
				width: 30px;
				height: 30px;

				&:before {
					content: '';
					margin: 5px;
					width: 20px;
					height: 20px;
					background: white;
					border-radius: 50%;
					border: 3px solid theme-color('primary');
				}
			}
		}
	}
}
