$purple: #6d75e5;

$theme-colors: (
  "primary": $purple
);

$link-color: $purple;

$box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2);

$card-spacer-y: 3.75rem;
$card-spacer-x: 2.5rem;
$card-bg: #fff;
$card-border-width: 0;
$card-border-radius: 0.25rem;
$card-color: #444444;