$enable-responsive-font-sizes: true;

$font-family-sans-serif: 'Roboto', sans-serif;

$purple: #6d75e5;
$red: #e56d71;
$yellow: #e5e36d;

$theme-colors: (
  "primary": $purple,
  "danger": $red,
  "warning": $yellow
);

$link-color: $purple;
$link-hover-decoration: none;

$box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2);

$card-spacer-y: 3.75rem;
$card-spacer-x: 2.5rem;
$card-bg: #fff;
$card-border-width: 0;
$card-border-radius: 0.25rem;
$card-color: #444444;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px
);